{% extends "base.html" %}
{% block title %} {% endblock %}
{% block head %}
<script src="{{ url_for('static', filename='crafts.js') }}"> </script>
{% endblock %}
{% block content%}
<table class='table table-striped table-dark' id='craftTable'>
    <thead>
        <tr>
            <th onclick="colSort('type')">Type</th>
            <th scope="col" onclick="colSort('atkP')">Atk%</th>
            <th scope="col" onclick="colSort('atkF')">Atk</th>
            <th scope="col" onclick="colSort('defP')">Def%</th>
            <th scope="col" onclick="colSort('defF')">Def</th>
            <th scope="col" onclick="colSort('hpP')" >Hp%</th>
            <th scope="col" onclick="colSort('hpF')" >Hp</th>
            <th scope="col" onclick="colSort('criC')">CritC</th>
            <th scope="col" onclick="colSort('criD')">CritD</th>
            <th scope="col" onclick="colSort('spd')" >Spd</th>
            <th scope="col" onclick="colSort('eff')" >Eff</th>
            <th scope="col" onclick="colSort('effR')">EffRes</th>
        </tr>
    </thead>
    <tbody>
        <!--Iterate over each equip and display the stats or '-' if value is 0 -->
        {% for equip in saved_equips %}
        <tr>
            <td>{{ equip.type }}</th>
            {% if equip.atkP %}
                <td>{{ equip.atkP }}</th>
            {% else %}
                <td>-</td>
            {% endif %}
            {% if equip.atkF %}
                <td>{{ equip.atkF }}</th>
            {% else %}
                <td>-</td>
            {% endif %}
            {% if equip.defP %}
                <td>{{ equip.defP }}</th>
            {% else %}
                <td>-</td>
            {% endif %}
            {% if equip.defF %}
                <td>{{ equip.defF }}</th>
            {% else %}
                <td>-</td>
            {% endif %}
            {% if equip.hpP %}
                <td>{{ equip.hpP }}</th>
            {% else %}
                <td>-</td>
            {% endif %}
            {% if equip.hpF %}
                <td>{{ equip.hpF }}</th>
            {% else %}
                <td>-</td>
            {% endif %}
            {% if equip.criC%}
                <td>{{ equip.criC }}</th>
            {% else %}
                <td>-</td>
            {% endif %}
            {% if equip.criD %}
                <td>{{ equip.criD }}</th>
            {% else %}
                <td>-</td>
            {% endif %}
            {% if equip.spd %}
                <td>{{ equip.spd }}</th>
            {% else %}
                <td>-</td>
            {% endif %}
            {% if equip.eff %}
                <td>{{ equip.eff }}</th>
            {% else %}
                <td>-</td>
            {% endif %}
            {% if equip.effR %}
                <td>{{ equip.effR }}</th>
            {% else %}
                <td>-</td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}