{% extends "base.html" %} 
{% block title %}Leaderboard{% endblock %} 
{% block head %} 
<script src="{{ url_for('static', filename='leaderboard.js') }}"> </script>
<!--NEED NEW CSS STYLING HERE-->
{% endblock %} 
{% block content %} 
<h1>Leaderboards</h1>
<div class="dropend">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Select Type
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href=/leaderboard/daily>Daily</a>
        <a class="dropdown-item" href=/leaderboard/overall>Overall</a>
    </div>
</div>
<p></p>
<table class='table table-hover table-striped table-dark' id='leaderboardTable'>
    <thead>
        <tr>
            <th class='typecol'>Type</th>
            <th scope="col" onclick="colSort('atkP', '{{ boardType }}')">Atk%</th>
            <th scope="col" onclick="colSort('atkF', '{{ boardType }}')">Atk</th>
            <th scope="col" onclick="colSort('defP', '{{ boardType }}')">Def%</th>
            <th scope="col" onclick="colSort('defF', '{{ boardType }}')">Def</th>
            <th scope="col" onclick="colSort('hpP',  '{{ boardType }}')">Hp%</th>
            <th scope="col" onclick="colSort('hpF',  '{{ boardType }}')">Hp</th>
            <th scope="col" onclick="colSort('criC', '{{ boardType }}')">CritC</th>
            <th scope="col" onclick="colSort('criD', '{{ boardType }}')">CritD</th>
            <th scope="col" onclick="colSort('spd',  '{{ boardType }}')">Spd</th>
            <th scope="col" onclick="colSort('eff',  '{{ boardType }}')">Eff</th>
            <th scope="col" onclick="colSort('effR', '{{ boardType }}')">EffRes</th>
            <th scope="col" onclick="colSort('gs',   '{{ boardType }}')">Score</th>
            <th scope="col">Username</th>
        </tr>
    </thead>
    <tbody>
        <!--Iterate over each equip and display the stats or '-' if value is 0 -->
        {% for equip in saved_equips %}
        <tr id="{{ equip.id }}">
            <td class="typecol">{{ equip.type }}</th>
            {% if equip.atkP %}
                <td>{{ equip.atkP }}</th>
            {% else %}
                <td>-</td>
            {% endif %}
            {% if equip.atkF %}
                <td>{{ equip.atkF }}</th>
            {% else %}
                <td>-</td>
            {% endif %}
            {% if equip.defP %}
                <td>{{ equip.defP }}</th>
            {% else %}
                <td>-</td>
            {% endif %}
            {% if equip.defF %}
                <td>{{ equip.defF }}</th>
            {% else %}
                <td>-</td>
            {% endif %}
            {% if equip.hpP %}
                <td>{{ equip.hpP }}</th>
            {% else %}
                <td>-</td>
            {% endif %}
            {% if equip.hpF %}
                <td>{{ equip.hpF }}</th>
            {% else %}
                <td>-</td>
            {% endif %}
            {% if equip.criC%}
                <td>{{ equip.criC }}</th>
            {% else %}
                <td>-</td>
            {% endif %}
            {% if equip.criD %}
                <td>{{ equip.criD }}</th>
            {% else %}
                <td>-</td>
            {% endif %}
            {% if equip.spd %}
                <td>{{ equip.spd }}</th>
            {% else %}
                <td>-</td>
            {% endif %}
            {% if equip.eff %}
                <td>{{ equip.eff }}</th>
            {% else %}
                <td>-</td>
            {% endif %}
            {% if equip.effR %}
                <td>{{ equip.effR }}</th>
            {% else %}
                <td>-</td>
            {% endif %}
            <td>{{ equip.gs }}</td>
            <td>{{ equip.userName }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}